@import "tailwindcss";
@keyframes shine {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

/* .animate-shine {
  animation: shine linear infinite;
}
.lg\:scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.lg\:scrollbar-hide::-webkit-scrollbar {
  display: none;
} */

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black; /* o el color que quieras para el fondo */
}


@media (max-width: 768px) {
  .grecaptcha-badge { 
    margin-right: 1.7rem;    /* mover a la izquierda */
    transform: scale(0.5);    /* más pequeño */
    z-index: 1000;
  }
}


